@use 'styles/style' as *;

.wrapper {
  width: fit-content;
  display: flex;
  align-items: stretch;

  border-radius: 2px;
  border: 1px solid $color-space-blue;
  overflow: hidden;
}

.input {
  width: 35px;
  height: 30px;
  text-align: center;

  background: $color-white;
  border: 1px solid $color-space-blue;
  border-top: 0;
  border-bottom: 0;
}

.btn {
  width: 30px;
  height: 30px;

  font-size: 14px;
  color: $color-white;

  background: $color-space-blue;
  border: 0;
  cursor: pointer;

  &:disabled {
    color: $color-gray;

    background: $color-white;
  }
}
