@use './style.scss' as *;
// @import '/public/assets/fonts/stylesheet.scss';

html {
  box-sizing: border-box;

  & *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-Lato;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  border: none;

  &:focus-visible,
  &:focus {
    outline: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}



.scrollStyle {
  &::-webkit-scrollbar {
    height: 5px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $color-layout-light-blue;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-layout-light-blue-2;
    border-radius: 24px;
  }
}