$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1440px;

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{$laptop-width}) {
    @content;
  }
}

@mixin mobile-laptop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-laptop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop-desktop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}
