@use 'styles/style' as *;

.wrapperCard {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-shadow: 0 1px 2px #cecece;
  gap: 10px;
}

.cardTitle {
  cursor: pointer;
  color: $color-space-blue;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
